<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esisalama.tfcproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:parentActivityName=".view.HistoriqueTransactionActivity"
            android:label="Detail"
            android:name=".view.DetailHistoriqueActivity"/>
        <activity
            android:name=".view.HistoriqueTransactionActivity"
            android:label="Historique"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.NfcCardInfoActivity"
            android:label="@string/txt_info_paiement"
            android:launchMode="singleTop"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ScanProductActivity"
            android:label="Scanner produit"
            android:launchMode="singleTop"
            android:parentActivityName=".view.AddPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AddPaymentActivity"
            android:label="@string/txt_payement"
            android:launchMode="singleTop"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.DashboardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>